[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pypi-test"
url = "https://test.pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"  # Pin to avoid having to allow pre-releases
detect-secrets = "*"
flake8 = "*"
pillow = "==9.0.1" # same as lambda layer
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
python-dotenv = "*"
rasterio = "==1.2.10" # same as lambda layer

[packages]
aioboto3 = "*"
aiobotocore = {extras = ["boto3"], version="<2.0.0"}
aiofiles = "*"
aenum = "<3.0"
async_lru = "*"
asyncpg = "*"
cachetools = "*"
fastapi = "<0.69"
geojson = "*"
gino = "*"
gino_starlette = "*"
httpx = "*"
httpx-auth = "*"
jinja2 = "*"
mercantile = "==1.2.1" # same as lambda layer
orjson = "*"
pendulum = "*"
psycopg2 = "*"
pyproj = "*"
requests = "*"
SQLAlchemy = "*"
shapely = "*"
uvicorn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false