[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.12.0"  # Pin to avoid having to allow pre-releases
detect-secrets = "*"
flake8 = "*"
pillow = "==9.5.0" # same as lambda layer
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
python-dotenv = "*"

[packages]
aioboto3 = "*"
aiobotocore = "*"
aiofiles = "*"
aenum = "<3.0"
async_lru = "*"
asyncpg = "*"
cachetools = "*"
fastapi = "*"
geojson = "*"
gino = "*"
gino_starlette = "*"
httpx = "*"
httpx-auth = "*"
jinja2 = "*"
mercantile = "*" # same as lambda layer
numpy = "1.25.2"
orjson = "*"
pydantic = "2.7.4"
pydantic-settings = "*"
pendulum = "*"
psycopg2 = "*"
pyproj = "*"
rasterio = "1.3.10"
requests = "*"
SQLAlchemy = "<1.4"
shapely = "*"
starlette = "*"
titiler.application = "*"
urllib3 = "*"
uvicorn = {version = "*", extras = ["standard"]}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
