CREATE INDEX {table}_geom_idx
    ON {schema}.{table} USING gist
    (geom);
CREATE INDEX {table}_geom_wm_idx
    ON {schema}.{table} USING gist
    (geom_wm);
CREATE INDEX {table}_acq_date_idx
    ON {schema}.{table} USING btree
    (acq_date);