CREATE EXTENSION IF NOT EXISTS postgis;
CREATE SCHEMA IF NOT EXISTS {schema};
DROP TABLE IF EXISTS {schema}.{table} CASCADE;
CREATE TABLE {schema}.{table}
(
    latitude numeric NOT NULL,
    longitude numeric NOT NULL,
    acq_date date,
    acq_time time without time zone,
    confidence character(1),
    bright_ti4 numeric,
    bright_ti5 numeric,
    frp numeric,
    geom geometry(POINT,4326),
    geom_wm geometry(POINT, 3857)
)
PARTITION BY RANGE (acq_date);

