[
  {
    "name": "${container_name}",
    "image": "${image}",
    "networkMode": "awsvpc",

    "environment": [
      {
        "name": "ENV",
        "value": "${environment}"
      },
      {
        "name": "GUNICORN_CONF",
        "value": "/app/app/gunicorn_conf.py"
      },
      {"name": "LOG_LEVEL",
      "value": "${log_level}"}


    ],
    "portMappings": [
      {
        "containerPort": ${container_port},
         "hostPort": ${container_port}
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group}",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "${container_name}"
      }
    }
  }
]